@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

        .hijau_text {
            color: #343616;
        }

        .hijau-bg {
            background-color: #343616;
        }

        .brown-text {
            color: #c4b291;
        }