@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.hijau_text {
    color: #343616;
}

.hijau-bg {
    background-color: #343616;
}

.brown-text {
    color: #c4b291;
}

.diagonal-bg {
    clip-path: polygon(65% 0, 100% 0, 100% 100%, 0 100%, 0 93%);
    background: rgba(255, 255, 255, .5);
    backdrop-filter: blur(4px);
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-up {
    animation: fadeInUp 0.8s ease forwards;
}

.fade-in-down {
    animation: fadeInDown 0.8s ease forwards;
}